@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
/* Common */
body {
    font: 1.65rem 'Roboto', Arial, sans-serif;
    font-weight: 300;
    line-height: 2.45rem;
}
.mini {
    font-size: 1.0rem;
}
.socicon {
    /* Never underline these guys */
    text-decoration: none !important;
}
/* Drawer */
.touch {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: none;
    z-index: 90;
    transition: all .2s;
}

#main-bar {
    top: 0;
    font-size: 2.0rem;
}
#main-bar .icon {
    background: url("/images/light-icon.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 4rem auto;
}
#main-bar h1 {
    font-size: 3rem;
}
.main {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 1px solid rgba(0,0,0,0.14);
    transition: margin-left .2s;
    z-index: 100;
}
.main-content {
}
.main-content .links {
    text-align: left;
    padding: 2.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 3rem;
}
.main-content .links li > ul > li {
    font-size: 1.8rem;
    padding-left: 1.6rem;
    text-transform: none;
}
.main-content .links li > ul > li > a {
}
.main-content li.disabled {
    display: none;
}
/* Header */
#sidenav {
    display: none;
}
#mobile-appbar {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
}
#appbar {
    top: 0;
    width: 100%;
    font-size: 2.0rem;
}

#appbar-sidenav-hide {
    padding-left: 10px;
    padding-right: 25px;
}

#appbar-sidenav-show {
    padding-left: 10px;
    padding-right: 25px;
}

#appbar a {
}

#appbar .path-arrow {
    padding-left: 8px;
    padding-right: 8px;
}

#mobile-appbar .mui-col,
#appbar .mui-col {
    float: none;
}

#appbar .center {
    text-align: center;
}

.article {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    font-weight: 100;
}

.article h1 {
    font-size: 4.5rem;
    margin-top: 3.67rem;
    margin-bottom: 2.5rem;
}

.article h3 {
    font-size: 1.8rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.article h4 {
    font-size: 1.5rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.article a {
    text-decoration: none;
}

.article img,
.article iframe {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border-radius: 4px;
}

/* Content */
.sub-content {
    margin-left: 240px;
}

.list-no-decoration {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.horz-list li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

.content-wrapper {
    /*padding-top: 64px;*/
}
.blog-list {
    padding-top: 64px;
    font-size: 3rem;
    line-height: 4rem;
}
.youtube {
    padding: 0;
    margin: 0;
    width: 560px;
    height: 315px;
}

.no-elevation {
    box-shadow: none !important;
}

/* Footer */
.footer {
    padding: 32px 32px 64px;
}
.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 16px;
}
.main-footer.social-links {
    margin-top: 3rem;
    line-height: 4rem;
}
@media (min-width: 768px) {
    #appbar {
        position: inherit;
    }
    .content-wrapper {
        padding-top: 24px;
    }
    .footer,
    .article {
        max-width: 800px;
    }
}

@media (min-width: 1024px) {

}

@media (max-height: 600px) {
    #main-bar .icon {
        background-size: 48px 48px;
        width: 48px;
        height: 48px;
        margin: 1rem auto;
    }
}
@media (max-width: 700px) {
    .main {
        width: 180px;
    }

    #main-bar .icon {
        background-size: 48px 48px;
        width: 48px;
        height: 48px;
        margin: 1rem auto;
    }

    .main-content .links {
        padding: .8rem 2rem;
    }

    .main-content .links li > ul > li {
        padding-left: 0;
    }

    .main-footer .horz-list li {
        display: inline-block;
        margin-left: 16px;
        margin-right: 16px;
    }

    .sub-content {
        margin-left: 180px;
    }
}

@media (max-width: 500px) {

    #mobile-appbar {
        display: block;
    }

    #sidenav ~ .main {
        margin-left: -180px;
    }
    #sidenav:checked ~ .main {
        margin-left: 0;
    }

    .touch {
        width: 100%;
        height: 100%;
    }

    #sidenav ~ .sub-content .touch {
        display: none;
    }
    #sidenav:checked  ~ .sub-content .touch {
        display: block;
    }

    .sub-content {
        margin-left: 0;
        margin-top: 56px;
    }

    #appbar {
         position: inherit;
    }

    .article {
        padding: 0;
    }

    .article h1 {
        font-size: 2.5rem;
        margin-top: 1.67rem;
        margin-bottom: 0.5rem;
    }
    .article h2 {
        font-size: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .article h3 {
        font-size: 1.8rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    .article h4 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .article iframe {
        max-height: 220px;
    }

    .content-wrapper {
        padding: 0;
    }
}